input[type=number]
{
    margin: 8px 0px;
    padding: 8px;
    width: 25%;
    background-color: white;
}
input[type=text]
{
    margin: 8px 0px;
    padding: 8px;
    width: 25%;
    background-color: white;
}  
button[type=submit]
{
    margin: 2px 0px;
    padding: 2px;
    width: 5%;
    background-color: white; 
}
.hatter
{
    background-image: url("img/hatter.png");
}
h1
{
    color: yellow;
}